<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LoopIt Button - Demo</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        var headers = {}
        headers[header] = token;

        function popupwindow(url, title, w, h) {
            var left = (screen.width/2)-(w/2);
            var top = (screen.height/2)-(h/2);
            return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
        }

        $(document).ready(function () {
            $("#loopit").click(function () {
                $.ajax({
                    url: "/loopit",
                    method: "POST",
                    headers: headers,
                    success: function (data) {
                        var r = confirm("View Loop on Dotloop?");
                        if (r == true) {
                            var loopUrl = JSON.parse(data).data.loopUrl;
                            // TODO url should come from API
                            window.open(loopUrl); // popup blocker?!
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        switch (xhr.statusCode) {
                            case 403:
                                location.reload(); // refresh page to connect
                            default:
                                alert('error creating a loop.');
                        }
                    }

                });
            });

            $("#connect").click(function () {
                var win = popupwindow(/*[[${authorize_url}]]*/, "Connect with Dotloop!", 800, 600);
                checkConnect = setInterval(function() {
                    if (!win || !win.closed) return;
                    clearInterval(checkConnect);
                    window.location.reload();
                }, 100);
            });
        });
        /*]]>*/
    </script>

</head>

<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

<button th:if="${connected} == true" id="loopit">LOOP IT</button>
<button th:if="${connected} == false" id="connect">Connect to Dotloop!</button>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>


</body>
</html>